{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer id="footer">

    <div class="container">

        <div class="footer-content">
            <div class="foot-logo">
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                  {%- if settings.logo != blank -%}
                    <div class="header__heading-logo-wrapper">
                      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                      {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                      {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                      {{ settings.logo | image_url: width: 600 | image_tag:
                        class: 'header__heading-logo motion-reduce',
                        widths: widths,
                        height: logo_height,
                        width: settings.logo_width,
                        alt: logo_alt,
                        sizes: sizes,
                        preload: true
                      }}
                    </div>
                  {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                </a>
            </div>
            <div class="footer-top-dta">
                <div class="footer-nav-link flex justify-between">
                    <div class="footer-links">
                        <h4>Product <i class="fa-solid fa-chevron-down"></i></h4>
                        <nav class="footer-nav">
                            <ul class="footer-ul">
                                {% for link in linklists.product.links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-links">
                        <h4>Health Insights <i class="fa-solid fa-chevron-down"></i></h4>
                        <nav class="footer-nav">
                            <ul class="footer-ul">
                                {% for link in linklists.health-insights.links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-links">
                        <h4>Resources <i class="fa-solid fa-chevron-down"></i></h4>
                        <nav class="footer-nav">
                            <ul class="footer-ul">
                                {% for link in linklists.resources.links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-links">
                        <h4>Company <i class="fa-solid fa-chevron-down"></i></h4>
                        <nav class="footer-nav">
                            <ul class="footer-ul">
                                {% for link in linklists.company.links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-links">
                        <h4>Follow Us <i class="fa-solid fa-chevron-down"></i></h4>
                        <nav class="footer-nav">
                            <ul class="footer-ul">
                                {%- if settings.social_facebook_link != blank -%}
                                  <li><a href="{{ settings.social_facebook_link }}">Facebook</a></li>
                                {%- endif -%}
                                {%- if settings.social_twitter_link != blank -%}
                                  <li><a href="{{ settings.social_twitter_link }}">Twitter</a></li>
                                {%- endif -%}
                                {%- if settings.social_instagram_link != blank -%}
                                  <li><a href="{{ settings.social_instagram_link }}">Instagram</a></li>
                                {%- endif -%}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="footer-bottom flex justify-between align-center">

                <div class="rights">
                    {{ section.settings.footer_copyrights }}
                </div>
                {%- if section.settings.show_policy -%}
                  <div class="policy flex justify-between">
                    <ul>
                      {%- for policy in shop.policies -%}
                        {%- if policy != blank -%}
                          <li>
                            <small class="copyright__content"
                              ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                            >
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
            </div>
        </div>
    </div>

</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
      {
        "type":"richtext",
        "id":"footer_copyrights",
        "label":"Footer Copyrights"
      },
      {
        "type": "checkbox",
        "id": "show_policy",
        "default": true,
        "label": "t:sections.footer.settings.show_policy.label"
      },
  ]
}
{% endschema %}
